.catch-bar {
    border-bottom: 1px solid black;
    background-color: white;
    padding: 15px 0;
    justify-content: space-evenly;
}

.catch-element {
    padding: 0 15px;
    border-right: 1px solid black;
}

.catch-element:last-child {
    border: 0;
}

.catch-select {
    height: 24px;
    color: #343430;
}

.catch-label {
    padding: 5px 15px;
    vertical-align: middle;
    color: black;
}

.catch-input_text {
    padding: 3px 3px;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    height: 18px;
}

.catch-button {
    padding: 5px 20px;
    background-color: #c51615;
    color: #ebebeb;
    font-size: 25px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.catch-button:hover {
    background-color: #ebebeb;
    color: #c51615;
    border: 1px solid  #c51615;
}
