/* DOTTED MENU */

.dotted-menu {
    align-content: space-between;
    height: fit-content;
    margin: auto 0;
    padding-right: 10px;
}

.menu-dot {
    width: 7px;
    height: 7px;
    border-radius: 50px;
    background-color: #1d2124;
    margin: 2px 0;
}

