
.home-container {
    padding: 0 20px;
}

.home-links {
    justify-content: space-around;
}

#pokedex-link-container {
    flex: 0 1 auto;
    position: relative;
}

.pokedex-link {

}

.pokedex-img {
    border: 1px solid black;
    height: 100%;

}

.img_caption {
    position: absolute;
    bottom: -1px;
    right: 0px;
    left:0px;
    padding: 10px 10px;
    background-color: #00000099;
    color: white;
}



.title {
    text-align: center;
    padding: 20px 0;
    font-size: 60px;
}

#team-link-container {
    flex: 0 1 auto;
    position: relative;
}

.figure-container {

}

.home-links-container {
    height: 400px;
}

.caption-title {
    font-size: 30px;
    padding: 5px;
    text-decoration: #c51615 underline;
}

.caption-text {
    padding: 5px;
}

