.navbar {
    height: 44px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.navbar-inner {
    height: 100%;
    flex-grow: 2;
}

.navbar-welcome {
    flex-grow: 2;
    align-self: center;
    text-align: right;
    font-size: 30px;
}

.allen-nome {
    font-size: 30px;
}

.nav {
    list-style: none;
    justify-content: flex-end;
    padding-right: 50px;
    align-items: center;
    flex-grow: 1;
}

.nav .hover-li {
    font-size: 20px;
    padding: 0 20px;
    border-right: 1px solid black;
}

.nav .hover-li:last-child {
    border-right: 0;
}

.nav .hover-li .hover-div {
    padding: 5px 10px;
}

.nav .hover-li .hover-div .hover-a {
    text-align: center;
    color: inherit;
    font-size: 28px;
    text-decoration-color: red;
}

.nav .hover-li .hover-div .hover-a:visited {
    color: inherit;
}

.nav .hover-li .hover-div:hover {
    border-radius: 10px;
    background-color: #c51615;
    color: white;
}

.nav .hover-li .hover-div:hover .hover-a {
    text-decoration-color: black;
}

#logo {
    height: 50px;
    flex-grow: 0;
}

#logo img {
    height: 100%;
    padding-left: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    right: 15px;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-list {
    list-style: none;
}

.dropdown-list-item {
    border-radius: 0;
    border: 0 !important;

}

.nav_alt {
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.nav .hover-li_alt {
    font-size: 20px;
}

.nav .hover-li_alt .hover-div_alt {
    padding: 5px 12px;
}

.nav .hover-li_alt .hover-div_alt .hover-a_alt {
    text-align: center;
    color: inherit;
    font-size: 24px;
    text-decoration-color: red;
}

.nav .hover-li_alt .hover-div_alt .hover-a_alt:visited {
    color: inherit;
}

.nav .hover-li_alt .hover-div_alt:hover {
    background-color: #c51615;
    color: white;
}

.nav .hover-li_alt:first-child .hover-div_alt:hover {
    background-color: #c51615;
    color: white;
    border-radius: 10px 10px 0 0;
}

.nav .hover-li_alt:last-child .hover-div_alt:hover {
    background-color: #c51615;
    color: white;
    border-radius: 0 0 10px 10px;
}

.nav .hover-li_alt .hover-div_alt:hover .hover-a_alt {
    text-decoration-color: black;
}

.best-buddy {
    padding-left: 3%;
    max-height: 40px;
    max-width: 40px;
}

