/* NAME COLOR */
.Grass {
    color: #36bd73;
}

.Fire {
    color: #c51f1a;
}

.Water {
    color: #1f6fb2;
}

.Bug {
    color: #1d643b;
}

.Normal {
    color: #bbcbd3;
}

.Poison {
    color: purple;
}

.Electric {
    color: #ffe70a;
}

.Ground {
    color: #761b18;
}

.Fighting {
    color: #c51f1a;
}

.Psychic {
    color: #f66d9b;
}

.Rock {
    color: chocolate;
}

.Ghost {
    color: #9561e2;
}

.Ice {
    color: #3facf7;
}

.Dragon {
    color: #6d31e2;
}

.Flying {
    color: lightskyblue;
}

.Dark {
    color: #1b1e21;
}

.Steel {
    color: slategray;
}

.Fairy {
    color: plum;
}

.pokemon_type-Grass {
    background-color: #36bd73;
}

.pokemon_type-Fire {
    background-color: #c51f1a;
}

.pokemon_type-Water {
    background-color: #1f6fb2;
}

.pokemon_type-Bug {
    background-color: #1d643b;
}

.pokemon_type-Normal {
    background-color: #bbcbd3;
}

.pokemon_type-Poison {
    background-color: purple;
}

.pokemon_type-Electric {
    background-color: #ffe70a;
}

.pokemon_type-Ground {
    background-color: #761b18;
}

.pokemon_type-Fighting {
    background-color: #c51f1a;
}

.pokemon_type-Psychic {
    background-color: #f66d9b;
}

.pokemon_type-Rock {
    background-color: chocolate;
}

.pokemon_type-Ghost {
    background-color: #9561e2;
}

.pokemon_type-Ice {
    background-color: #3facf7;
}

.pokemon_type-Dragon {
    background-color: #6d31e2;
}

.pokemon_type-Flying {
    background-color: lightskyblue;
}

.pokemon_type-Dark {
    background-color: #1b1e21;
}

.pokemon_type-Steel {
    background-color: slategray;
}

.pokemon_type-Fairy {
    background-color: plum;
}

.pokemon_type-none {
    display: none;
}
