/* POKEMON LIST */

.pokemon_list {
    list-style-type: none;
    width: 100%;
    margin: 0 auto;
}

.pokemon_list-item {
    height: 150px;
    padding: 15px 10px;
    border-bottom: 1px solid black;
    justify-content: space-between;
}

.pokemon_list-item:last-child {
    border: 0;
}

.pokemon_name-description {
    color: #1d2124;
    text-align: justify;
    width: 500px;
}

.pokemon_name {
    font-size: 30px;
    padding: 5px 0;
}

.pokemon_description {
    padding: 5px 0;
    padding-right: 10px;
}

.pokemon_img {
    width: 60%;
    height: 60%;
    max-width: 150px;
    height: auto;
}

.pokemon_type-item {
    color: white;
    padding: 6px;
    border-radius: 5px;
    width: 58px;
    text-align: center;
}

.empty-space {
    padding-top: 8%;
    padding-left: 10px;
}

.type-box {
    height: 100%;
    width: 100%;
}

.pokedex-screen {
    overflow: auto;
}

.pokemon_number {
    padding-right: 5px;
    font-size: 29px;
}

.pokemon_list ul {
    list-style: none;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 10px 0;
}

.pokemon_list ul li {
    padding: 10px;
    height: 100%;
}

.pokemon_list ul li a {
    padding: 8px;
    background-color: white;
    color: #c51615;
    text-decoration: none;
    border-radius: 10px;
}

.pokemon_list ul li.active span {
    padding: 8px;
    background-color: #c51615;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.pokemon_list ul li.disabled span {
    padding: 8px;
    background-color: white;
    color: #c51615;
    text-decoration: none;
    border-radius: 10px;
}


