.catch-bar {
    border-bottom: 1px solid #1d2124;
    background-color: #fff;
    padding: 15px 0;
    justify-content: space-evenly;
}

.catch-element {
    padding: 10px 15px;
    border-right: 1px solid #343430;
}

.catch-element:last-child {
    border: 0;
}

.catch-select {
    font-size: 16px;
    height: 31px;
    color: #c51615;
}

.catch-label {
    padding: 5px 15px;
    font-size: 18px;
    vertical-align: middle;
    color: #c51615;
}

.catch-input_text {
    padding: 3px 3px;
    font-size: 18px;
    border-radius: 5px;
    color: #c51615;
    border: 1px solid #c51615;
}

.catch-button {
    padding: 10px 20px;
    background-color: #343430;
    color: #ebebeb;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
}
