/* TABLE */

.pokemon_stat-table-container {
    padding-right: 30px;
    padding-left: 30px;

}

.pokemon_stat-table {
    border-collapse: collapse;
    padding: 0 10px;
}

.pokemon_stat-table-row {

}

.pokemon_stat-table-title {
    color: goldenrod;
    padding: 3px 5px;
    text-align: center;
    border-radius: 30px;
    border-style: hidden;
    box-shadow: 0 0 0 1px darkgoldenrod;
    font-size: 18px;
}

.pokemon_stat-table-row-title {
    width: 160px;
    font-weight: normal;
    font-size: 20px;
    padding: 3px 7px;
    text-align: left;
    /*border-right: 1px solid #fff;*/
}

.pokemon_stat-table-value {
    width: 50px;
    font-size: 20px;
    padding: 3px 8px;
    text-align: center;
}

.hp {
    color: #2d995b;
    border-bottom: 1px solid #2d995b;
}

.atk {
    color: #b91d19;
    border-bottom: 1px solid #b91d19;
}

.def {
    color: #1f6fb2;
    border-bottom: 1px solid #1f6fb2;
}

.spd {
    color: #c0ddf6;
    border-bottom: 1px solid #c0ddf6;
}

.atksp {
    color: plum;
    border-bottom: 1px solid plum;
}

.defsp {
    color: steelblue;
}
