*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'pokemonFont';
    src: url('../fonts/pokemon-generation-iv.ttf')  format('truetype'); /* Legacy iOS */
}



.page_title {
    color: #1b4b72;
}

@media (min-width: 900px) {
    .centered {
        padding: 0 10vw;
        flex: 1 1 auto;
        height: 100%;
        overflow: auto;
    }
}

p, h1, h2, h3, h4, div, option, form, li, label, button, span {
    font-family: pokemonFont, serif;
}

p, div, option, form, li, label, span {
    font-size: 22px;
}



/* FLEX */

.flex-row {
    display:flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.align-items {
    align-items: baseline;
}

.full-height-container {
    overflow: auto;
    height: 93%;
}


.glyph-refresh {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    cursor: pointer;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
