.member_list {
    list-style-type: none;
    width: 100%;
}

.member_list-item {

    padding: 15px 10px;
    border-bottom: 1px solid #1b4b72;
}

.member_list-item:last-child {
    border: 0;
}

.member_name-description {
    width: 100%;
    align-self: flex-start;
}

.member_name {
    font-size: 24px;
    padding: 6px 20px;
}

.member_lvl {
    font-size: 18px;
    padding: 10px 20px;
}

.member_img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 100px;
    border: 1px solid #1b4b72;
}
