.team_list {
    list-style-type: none;
    align-items: flex-start;
    flex-wrap: wrap;

}

.team_list-element {
    padding: 20px 20px;
    flex-grow: 0;
    flex-basis: 45%;

}

.team_list-element-container {
    border: 2px solid #343430;
    border-radius: 35px;
    width: 100%;
    background-color: #fff;
}

.team_list-element-title {
    text-align: center;
    border-bottom: 1px solid #343430;
}
